* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* @public-classes-start */

@font-face {
  font-family: myFirstEngFont;
  src: url(fonts/PlayfairDisplay-VariableFont_wght.ttf);
  font-weight: normal;
}

@font-face {
  font-family: myFirstEngFont;
  src: url(fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf);
  font-style: italic;
}

@font-face {
  font-family: myHeaderFont;
  src: url(fonts/Lobster-Regular.ttf);
}
@font-face {
  font-family: mypersianFont;
  src: url(fonts/Iranian\ Sans.ttf);
  unicode-range: U+0600-06FF;
}

@font-face {
  font-family: mypersiantitrFont;
  src: url(fonts/b\ morvarid.ttf);
  unicode-range: U+0600-06FF;
}

.d-fa {
  direction: rtl;
}

.container,
.container-fluid {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.square-shape {
  width: 1.2rem;
  height: 1.2rem;
  display: inline-flex;
  align-self: flex-end;
  margin: 1.5rem 0;
  background: #f67c92;
}

.common-button {
  padding: 1.8rem 4rem;
  font-size: 2rem;
  font-weight: bold;
  font-family: mypersianFont;
  background-color: transparent;
  color: #f67c92;
  outline: none;
  border: 0.2rem solid #f67c92;
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: 0rem 0.2rem 1rem #f67c92;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.common-button:hover {
  background-color: #f67c92;
  color: #fff;
}
/* ~@ public-classes-end */

body {
  direction: ltr;
  font-family: myFirstEngFont, mypersianFont;
}

.header-section {
  display: flex;
  height: 95vh;
  justify-content: center;
  align-items: flex-start;
}
/* !logo design */
.logo {
  display: flex;
  text-transform: capitalize;
  align-items: center;
}

.logo a {
  display: flex;
  text-decoration: none;
  color: #570018;
}

.logo img {
  width: 65px;
  height: 100px;
  margin-left: 5rem;
  margin-top: 1rem;
}

.logo h1 {
  align-self: center;
  margin-top: 2rem;
  font-size: 3rem;
  font-family: myHeaderFont;
  color: #c3365e;
  text-shadow: 0px 5px 1rem #fcbaca;
}

.logo img:hover {
  animation: logo 0.7s linear infinite alternate;
  -webkit-animation: logo 0.7s linear infinite alternate;
}
@keyframes logo {
  from {
    transform: rotateZ(-7deg);
    -webkit-transform: rotateZ(-7deg);
    -moz-transform: rotateZ(-7deg);
    -ms-transform: rotateZ(-7deg);
    -o-transform: rotateZ(-7deg);
  }
  to {
    transform: rotateZ(7deg);
    -webkit-transform: rotateZ(7deg);
    -moz-transform: rotateZ(7deg);
    -ms-transform: rotateZ(7deg);
    -o-transform: rotateZ(7deg);
  }
}

.logo h1:hover {
  animation: devmatt 1s ease-in 1 alternate;
  -webkit-animation: devmatt 1s ease-in 2 alternate;
}

@keyframes devmatt {
  from {
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
  }
}
/* ~! logo design*/

.header-text {
  margin: 5rem 2rem 1rem 2rem;
  display: flex;
  width: 40vw;
  flex-direction: column;
  justify-content: center;
}

.header-text h2 {
  font-size: calc(4rem + 0.8vw);
  font-family: mypersiantitrFont;
  color: #c3365e;
  text-shadow: 0px 5px 1rem #4c4749;
  text-align: center;
  margin-bottom: 1rem;
}

.header-text p {
  font-size: calc(1rem + 0.8vw);
  color: rgba(0, 0, 0, 0.568);
  text-align: justify;
}

.header-text button {
  align-self: flex-start;
  margin: 2rem 0rem;
}

/* // shape's on end of a section */
.shapes-text-end {
  display: flex;
  width: 40vw;
  flex-direction: column;
  justify-content: center;
  line-height: 0.8rem;
}

.line-1 {
  display: inline-block;
  width: 1.8rem;
  height: 1.8rem;
  background-color: #f67c92;
}
.line-2 {
  display: inline-block;
  width: 8rem;
  height: 0.2rem;
  background-color: #f67c92;
}
.line-3 {
  display: inline-block;
  width: 6rem;
  height: 0.2rem;
  background-color: #f67c92;
}
/* ~/ shape's on end of a section */

/* ! make live svg in head section */
.header-svg svg {
  width: 75rem;
  height: 60rem;
}
#flower1 {
  animation: flower1 5s ease alternate infinite;
  -webkit-animation: flower1 5s ease alternate infinite;
  transform-origin: bottom;
  transform-box: fill-box;
}
#flower2 {
  animation: flower2 5s ease alternate infinite;
  -webkit-animation: flower2 5s ease alternate infinite;
  transform-origin: bottom;
  transform-box: fill-box;
}
@keyframes flower1 {
  from {
    transform: rotateZ(-30deg);
    -webkit-transform: rotateZ(-30deg);
    -moz-transform: rotateZ(-30deg);
    -ms-transform: rotateZ(-30deg);
    -o-transform: rotateZ(-30deg);
}
  to {
    transform: rotateZ(10deg);
    -webkit-transform: rotateZ(10deg);
    -moz-transform: rotateZ(10deg);
    -ms-transform: rotateZ(10deg);
    -o-transform: rotateZ(10deg);
  }
}
@keyframes flower2 {
  from {
    transform: rotateZ(15deg);
    -webkit-transform: rotateZ(15deg);
    -moz-transform: rotateZ(15deg);
    -ms-transform: rotateZ(15deg);
    -o-transform: rotateZ(15deg);
  }
  to {
    transform: rotateZ(-15deg);
    -webkit-transform: rotateZ(-15deg);
    -moz-transform: rotateZ(-15deg);
    -ms-transform: rotateZ(-15deg);
    -o-transform: rotateZ(-15deg);
  }
}

#r-h {
  animation: hair 3s linear alternate infinite;
  -webkit-animation: hair 3s linear alternate infinite;
  transform-origin: top;
  transform-box: fill-box;
}
@keyframes hair {
  from {
    transform: rotateZ(5deg);
    -webkit-transform: rotateZ(5deg);
    -moz-transform: rotateZ(5deg);
    -ms-transform: rotateZ(5deg);
    -o-transform: rotateZ(5deg);
  }
  to {
    transform: rotateZ(-5deg);
    -webkit-transform: rotateZ(-5deg);
    -moz-transform: rotateZ(-5deg);
    -ms-transform: rotateZ(-5deg);
    -o-transform: rotateZ(-5deg);
  }
}

#r-1,
#r-2,
#r-2,
#r-4,
#r-5 {
  animation: r-hands 2s linear alternate infinite;
  -webkit-animation: r-hands 2s linear alternate infinite;
  transform-origin: right;
  transform-box: fill-box;
}
@keyframes r-hands {
  from {
    transform: rotateZ(15deg);
    -webkit-transform: rotateZ(15deg);
    -moz-transform: rotateZ(15deg);
    -ms-transform: rotateZ(15deg);
    -o-transform: rotateZ(15deg);
  }
  to {
    transform: rotateZ(-5deg);
    -webkit-transform: rotateZ(-5deg);
    -moz-transform: rotateZ(-5deg);
    -ms-transform: rotateZ(-5deg);
    -o-transform: rotateZ(-5deg);
  }
}
#l-1
{
  animation: l-hands1 0.5s linear alternate infinite;
  -webkit-animation: l-hands1 0.5s linear alternate infinite;
  transform-origin: left;
  transform-box: fill-box;
}
#l-2
{
  animation: l-hands2 0.5s linear alternate infinite;
  -webkit-animation: l-hands2 0.5s linear alternate infinite;
  transform-origin: left;
  transform-box: fill-box;
}
@keyframes l-hands1 {
  from {
    transform: rotateZ(2deg);
    -webkit-transform: rotateZ(2deg);
    -moz-transform: rotateZ(2deg);
    -ms-transform: rotateZ(2deg);
    -o-transform: rotateZ(2deg);
  }
  to {
    transform: rotateZ(-1deg);
    -webkit-transform: rotateZ(-1deg);
    -moz-transform: rotateZ(-1deg);
    -ms-transform: rotateZ(-1deg);
    -o-transform: rotateZ(-1deg);
  }
}
@keyframes l-hands2 {
  from {
    transform: rotateZ(-2deg);
    -webkit-transform: rotateZ(-2deg);
    -moz-transform: rotateZ(-2deg);
    -ms-transform: rotateZ(-2deg);
    -o-transform: rotateZ(-2deg);
}
  to {
    transform: rotateZ(2deg);
    -webkit-transform: rotateZ(2deg);
    -moz-transform: rotateZ(2deg);
    -ms-transform: rotateZ(2deg);
    -o-transform: rotateZ(2deg);
}
}
/* ~! make live svg in head section */

/* *side nave style */
#sideNave {
  width: 25rem;
  height: 100vh;
  position: fixed;
  top: 0rem;
  right: -25rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  background-color: #fb5f7bad;
  z-index: 2;
  transition: 0.4s ease;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -ms-transition: 0.4s ease;
  -o-transition: 0.4s ease;
}

#sideNave ul li {
  list-style: none;
  margin: 5rem 2rem;
}

#sideNave ul li a {
  text-decoration: none;
  color: white;
  font-size: 2.2rem;
}

#sideNave ul li a:hover {
  text-shadow: 0.1rem 0.2rem 1rem white;
}

#menuBtn {
  width: 5rem;
  position: fixed;
  right: 3rem;
  top: 3.5rem;
  z-index: 2;
  cursor: pointer;
}

/* ~*side nave style */
