* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* @public-classes-start */

@font-face {
  font-family: myFirstEngFont;
  src: url(fonts/PlayfairDisplay-VariableFont_wght.ttf);
  font-weight: normal;
}

@font-face {
  font-family: myFirstEngFont;
  src: url(fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf);
  font-style: italic;
}

@font-face {
  font-family: myHeaderFont;
  src: url(fonts/Lobster-Regular.ttf);
}
@font-face {
  font-family: mypersianFont;
  src: url(fonts/Iranian\ Sans.ttf);
  unicode-range: U+0600-06FF;
}

@font-face {
  font-family: mypersiantitrFont;
  src: url(fonts/b\ morvarid.ttf);
  unicode-range: U+0600-06FF;
}

.d-fa {
  direction: rtl;
}

.container,
.container-fluid {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.square-shape {
  width: 1.2rem;
  height: 1.2rem;
  display: inline-flex;
  align-self: flex-end;
  margin: 1.5rem 0;
  background: #f67c92;
}

.common-button {
  padding: 1.6rem 3rem;
  font-size: calc(1.1rem + 0.6vw);
  font-weight: bold;
  font-family: mypersianFont;
  background-color: white;
  color: #f67c92;
  outline: none;
  border: 0.2rem solid #f67c92;
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: 0rem 0.2rem 1rem #f67c92;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.common-button:hover {
  background-color: #f67c92;
  color: #fff;
}
.my-a {
  align-self: flex-start;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: 2rem 0rem;
  padding: 1.6rem 3rem;
  font-size: calc(1.1rem + 0.6vw);
  font-weight: bold;
  font-family: mypersianFont;
  background-color: white;
  color: #f67c92;
  outline: none;
  border: 0.2rem solid #f67c92;
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: 0rem 0.2rem 1rem #f67c92;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.my-a:hover {
  background-color: #f67c92;
  color: #fff;
}
.my-h2 {
  font-size: calc(2rem + 1.8vw);
  font-family: mypersiantitrFont;
  color: #dd4e77;
  text-shadow: 0px 5px 1rem #7a7778;
  text-align: center;
  margin-bottom: 1rem;
}
.my-h3 {
  font-size: calc(1rem + 0.8vw);
  color: #116466;
  text-shadow: 0px 3px 1rem #374e57;
  text-align: justify;
  margin-bottom: 1rem;
}
.my-h4 {
  font-size: calc(1rem + 0.8vw);
  color: #c3365e;
  text-shadow: 0px 3px 1rem #9b7886;
  text-align: justify;
  margin-bottom: 1rem;
}

.my-p {
  font-size: calc(1rem + 0.7vw);
  color: #116466;
  text-align: justify;
  text-shadow: 0px 0px 0.3rem #c7c5c6;
}
.my-p2 {
  font-size: calc(0.8rem + 0.8vw);
  color: #116466;
  text-align: justify;
}
.my-small {
  font-size: calc(0.8rem + 0.8vw);
  color: rgba(0, 0, 0, 0.568);
  text-align: justify;
}
/* ~@ public-classes-end */

body {
  min-width: 35rem;
  background-color: #eaf6f6;
  direction: ltr;
  font-family: myFirstEngFont, mypersianFont;
}

/* !logo design */
.logo {
  display: flex;
  text-transform: capitalize;
  align-items: center;
  justify-content: flex-start;
}

.logo a {
  display: flex;
  text-decoration: none;
  color: #570018;
}

.logo img {
  width: 65px;
  height: 100px;
  margin-left: 5rem;
  margin-top: 1rem;
}

.logo h1 {
  align-self: center;
  margin-top: 2rem;
  font-size: 3rem;
  font-family: myHeaderFont;
  color: #c3365e;
  text-shadow: 0px 5px 1rem #fcbaca;
}

.logo img:hover {
  animation: logo 0.7s linear infinite alternate;
  -webkit-animation: logo 0.7s linear infinite alternate;
  -moz-animation: logo 0.7s linear infinite alternate;
  -ms-animation: logo 0.7s linear infinite alternate;
  -o-animation: logo 0.7s linear infinite alternate;
}
@keyframes logo {
  from {
    transform: rotateZ(-7deg);
    -webkit-transform: rotateZ(-7deg);
    -moz-transform: rotateZ(-7deg);
    -ms-transform: rotateZ(-7deg);
    -o-transform: rotateZ(-7deg);
  }
  to {
    transform: rotateZ(7deg);
    -webkit-transform: rotateZ(7deg);
    -moz-transform: rotateZ(7deg);
    -ms-transform: rotateZ(7deg);
    -o-transform: rotateZ(7deg);
  }
}

.logo h1:hover {
  animation: devmatt 1s ease-in 1 alternate;
  -webkit-animation: devmatt 1s ease-in 2 alternate;
  -moz-animation: devmatt 1s ease-in 2 alternate;
  -ms-animation: devmatt 1s ease-in 2 alternate;
  -o-animation: devmatt 1s ease-in 2 alternate;
}

@keyframes devmatt {
  from {
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
  }
}
/* ~! logo design*/
.header-section .row {
  display: flex;
  padding: 2rem 0;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.header-section .row .right-col {
  margin: 2rem 0rem 1rem 0rem;
  padding: 0rem 3rem;
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  justify-content: normal;
}

.header-section .row .right-col button {
  align-self: flex-start;
  margin: 2rem 0rem;
}

/* // shape's on end of a section */
.shapes-text-end {
  display: flex;
  flex-direction: column;
  line-height: 0.2rem;
}

.line-1 {
  display: inline-block;
  width: 1.8rem;
  height: 1.8rem;
  margin: 0.2rem 0rem;
  background-color: #f67c92;
}
.line-2 {
  display: inline-block;
  width: 8rem;
  height: 0.2rem;
  margin: 0.2rem 0rem;
  background-color: #f67c92;
}
.line-3 {
  display: inline-block;
  width: 6rem;
  height: 0.2rem;
  margin: 0.2rem 0rem;
  background-color: #f67c92;
}
/* ~/ shape's on end of a section */

/* ! make live svg in head section */
.header-section .row .left-col {
  flex-basis: 50%;
}
.header-section .row .left-col svg {
  width: 100%;
  height: calc(40vw);
}
#flower1 {
  animation: flower1 5s ease alternate infinite;
  -webkit-animation: flower1 5s ease alternate infinite;
  -moz-animation: flower1 5s ease alternate infinite;
  -ms-animation: flower1 5s ease alternate infinite;
  -o-animation: flower1 5s ease alternate infinite;
  transform-origin: bottom;
  transform-box: fill-box;
}
#flower2 {
  animation: flower2 5s ease alternate infinite;
  -webkit-animation: flower2 5s ease alternate infinite;
  -moz-animation: flower2 5s ease alternate infinite;
  -ms-animation: flower2 5s ease alternate infinite;
  -o-animation: flower2 5s ease alternate infinite;
  transform-origin: bottom;
  transform-box: fill-box;
}
@keyframes flower1 {
  from {
    transform: rotateZ(-30deg);
    -webkit-transform: rotateZ(-30deg);
    -moz-transform: rotateZ(-30deg);
    -ms-transform: rotateZ(-30deg);
    -o-transform: rotateZ(-30deg);
  }
  to {
    transform: rotateZ(10deg);
    -webkit-transform: rotateZ(10deg);
    -moz-transform: rotateZ(10deg);
    -ms-transform: rotateZ(10deg);
    -o-transform: rotateZ(10deg);
  }
}
@keyframes flower2 {
  from {
    transform: rotateZ(15deg);
    -webkit-transform: rotateZ(15deg);
    -moz-transform: rotateZ(15deg);
    -ms-transform: rotateZ(15deg);
    -o-transform: rotateZ(15deg);
  }
  to {
    transform: rotateZ(-15deg);
    -webkit-transform: rotateZ(-15deg);
    -moz-transform: rotateZ(-15deg);
    -ms-transform: rotateZ(-15deg);
    -o-transform: rotateZ(-15deg);
  }
}

#r-h {
  animation: hair 3s linear alternate infinite;
  -webkit-animation: hair 3s linear alternate infinite;
  -moz-animation: hair 3s linear alternate infinite;
  -ms-animation: hair 3s linear alternate infinite;
  -o-animation: hair 3s linear alternate infinite;
  transform-origin: top;
  transform-box: fill-box;
}
@keyframes hair {
  from {
    transform: rotateZ(5deg);
    -webkit-transform: rotateZ(5deg);
    -moz-transform: rotateZ(5deg);
    -ms-transform: rotateZ(5deg);
    -o-transform: rotateZ(5deg);
  }
  to {
    transform: rotateZ(-5deg);
    -webkit-transform: rotateZ(-5deg);
    -moz-transform: rotateZ(-5deg);
    -ms-transform: rotateZ(-5deg);
    -o-transform: rotateZ(-5deg);
  }
}

#r-1,
#r-2 {
  animation: r-hands1 4s 2s linear alternate infinite;
  -webkit-animation: r-hands1 4s 2s linear alternate infinite;
  -moz-animation: r-hands1 4s 2s linear alternate infinite;
  -ms-animation: r-hands1 4s 2s linear alternate infinite;
  -o-animation: r-hands1 4s 2s linear alternate infinite;
  transform-origin: right;
  transform-box: fill-box;
}
#r-5 {
  animation: r-paper 4s 2s linear alternate infinite;
  -webkit-animation: r-paper 4s 2s linear alternate infinite;
  -moz-animation: r-paper 4s 2s linear alternate infinite;
  -ms-animation: r-paper 4s 2s linear alternate infinite;
  -o-animation: r-paper 4s 2s linear alternate infinite;
  transform-origin: right;
  transform-box: fill-box;
}

#r-3,
#r-4 {
  animation: r-shoulder 4s 2s linear alternate infinite;
  -webkit-animation: r-shoulder 4s 2s linear alternate infinite;
  -moz-animation: r-shoulder 4s 2s linear alternate infinite;
  -ms-animation: r-shoulder 4s 2s linear alternate infinite;
  -o-animation: r-shoulder 4s 2s linear alternate infinite;
  transform-origin: top;
  transform-box: fill-box;
}
@keyframes r-hands1 {
  0% {
    transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(15deg);
    -webkit-transform: rotateZ(15deg);
    -moz-transform: rotateZ(15deg);
    -ms-transform: rotateZ(15deg);
    -o-transform: rotateZ(15deg);
  }
  100% {
    transform: rotateZ(-5deg);
    -webkit-transform: rotateZ(-5deg);
    -moz-transform: rotateZ(-5deg);
    -ms-transform: rotateZ(-5deg);
    -o-transform: rotateZ(-5deg);
  }
}
@keyframes r-paper {
  0% {
    transform: translateY(0rem);
    -webkit-transform: translateY(0rem);
    -moz-transform: translateY(0rem);
    -ms-transform: translateY(0rem);
    -o-transform: translateY(0rem);
  }
  50% {
    transform: translateY(-2rem);
    -webkit-transform: translateY(-2rem);
    -moz-transform: translateY(-2rem);
    -ms-transform: translateY(-2rem);
    -o-transform: translateY(-2rem);
  }
  100% {
    transform: translateY(0rem);
    -webkit-transform: translateY(0rem);
    -moz-transform: translateY(0rem);
    -ms-transform: translateY(0rem);
    -o-transform: translateY(0rem);
  }
}
@keyframes r-shoulder {
  0% {
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
  }
  50% {
    transform: scale(1.4, 0.85);
    -webkit-transform: scale(1.4, 0.85);
    -moz-transform: scale(1.4, 0.85);
    -ms-transform: scale(1.4, 0.85);
    -o-transform: scale(1.4, 0.85);
  }
  100% {
    transform: scale(1, 1.1);
    -webkit-transform: scale(1, 1.1);
    -moz-transform: scale(1, 1.1);
    -ms-transform: scale(1, 1.1);
    -o-transform: scale(1, 1.1);
  }
}
#l-1 {
  animation: l-hands1 0.3s linear alternate infinite;
  -webkit-animation: l-hands1 0.3s linear alternate infinite;
  -moz-animation: l-hands1 0.3s linear alternate infinite;
  -ms-animation: l-hands1 0.3s linear alternate infinite;
  -o-animation: l-hands1 0.3s linear alternate infinite;
  transform-origin: left;
  transform-box: fill-box;
}
#l-5 {
  animation: r-hands1 2s linear alternate infinite;
  -webkit-animation: r-hands1 2s linear alternate infinite;
  -moz-animation: r-hands1 2s linear alternate infinite;
  -ms-animation: r-hands1 2s linear alternate infinite;
  -o-animation: r-hands1 2s linear alternate infinite;
  transform-origin: left;
  transform-box: fill-box;
}

@keyframes l-hands1 {
  from {
    transform: rotateZ(2deg);
    -webkit-transform: rotateZ(2deg);
    -moz-transform: rotateZ(2deg);
    -ms-transform: rotateZ(2deg);
    -o-transform: rotateZ(2deg);
  }
  to {
    transform: rotateZ(-1deg);
    -webkit-transform: rotateZ(-1deg);
    -moz-transform: rotateZ(-1deg);
    -ms-transform: rotateZ(-1deg);
    -o-transform: rotateZ(-1deg);
  }
}

/* ~! make live svg in head section */

/* *side nave style */

#sideNave {
  width: 25rem;
  height: 100vh;
  position: fixed;
  top: 0rem;
  right: -25rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  background-color: #fb5f7bad;
  z-index: 2;
  transition: 0.4s ease;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -ms-transition: 0.4s ease;
  -o-transition: 0.4s ease;
}

#sideNave ul li {
  list-style: none;
  margin: 5rem 2rem;
}

#sideNave ul li a {
  text-decoration: none;
  color: white;
  font-size: 2.2rem;
}

#sideNave ul li a:hover {
  text-shadow: 0.1rem 0.2rem 1rem white;
}

#menuBtn {
  width: calc(2rem + 1.2vw);
  position: fixed;
  right: 3rem;
  top: 3.5rem;
  transition: all 1s ease;
  z-index: 2;
  cursor: pointer;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
}

/* ~*side nave style */

/* @ About Us  and offer section */

.about .row,
.offer .row {
  display: flex;
  padding: 2rem 0;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.about .right-col,
.offer .right-col {
  flex-basis: 50%;
}
.about .right-col svg,
.offer .right-col svg {
  width: 100%;
}
.about .left-col,
.offer .left-col {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  margin: 1rem 0rem 1rem 0rem;
  padding: 1rem 2rem 1rem 7rem;
}

/* //about svg */
@keyframes birds {
  0% {
    transform: translate(0rem, 0rem);
    -webkit-transform: translate(0rem, 0rem);
    -moz-transform: translate(0rem, 0rem);
    -ms-transform: translate(0rem, 0rem);
    -o-transform: translate(0rem, 0rem);
  }
  25% {
    transform: translate(-1rem, -3rem);
    -webkit-transform: translate(-1rem, -3rem);
    -moz-transform: translate(-1rem, -3rem);
    -ms-transform: translate(-1rem, -3rem);
    -o-transform: translate(-1rem, -3rem);
  }
  50% {
    transform: translate(-3rem, -2rem);
    -webkit-transform: translate(-3rem, -2rem);
    -moz-transform: translate(-3rem, -2rem);
    -ms-transform: translate(-3rem, -2rem);
    -o-transform: translate(-3rem, -2rem);
  }
  75% {
    transform: translate(-1rem, 3rem);
    -webkit-transform: translate(-1rem, 3rem);
    -moz-transform: translate(-1rem, 3rem);
    -ms-transform: translate(-1rem, 3rem);
    -o-transform: translate(-1rem, 3rem);
  }
  100% {
    transform: translate(0rem, 0rem);
    -webkit-transform: translate(0rem, 0rem);
    -moz-transform: translate(0rem, 0rem);
    -ms-transform: translate(0rem, 0rem);
    -o-transform: translate(0rem, 0rem);
  }
}
#bird1 {
  animation: birds 8s linear infinite;
  -webkit-animation: birds 8s linear infinite;
  -moz-animation: birds 8s linear infinite;
  -ms-animation: birds 8s linear infinite;
  -o-animation: birds 8s linear infinite;
  transform-origin: right;
  transform-box: fill-box;
}
#bird2 {
  animation: birds 9s linear infinite alternate-reverse;
  -webkit-animation: birds 9s linear infinite alternate-reverse;
  -moz-animation: birds 8s linear alternate-reverse infinite;
  -ms-animation: birds 8s linear alternate-reverse infinite;
  -o-animation: birds 8s linear alternate-reverse infinite;
  transform-origin: right;
  transform-box: fill-box;
}
#bird3 {
  animation: birds 7s linear infinite alternate;
  -webkit-animation: birds 7s linear infinite alternate;
  -moz-animation: birds 8s linear alternate infinite;
  -ms-animation: birds 8s linear alternate infinite;
  -o-animation: birds 8s linear alternate infinite;
  transform-origin: right;
  transform-box: fill-box;
}
#g-flower2 {
  animation: flower1 4s ease alternate infinite;
  -webkit-animation: flower1 4s ease alternate infinite;
  -moz-animation: flower1 4s ease alternate infinite;
  -ms-animation: flower1 4s ease alternate infinite;
  -o-animation: flower1 4s ease alternate infinite;
  transform-origin: bottom;
  transform-box: fill-box;
}
#g-flower1 {
  animation: flower2 5s ease alternate infinite;
  -webkit-animation: flower2 5s ease alternate infinite;
  -moz-animation: flower2 5s ease alternate infinite;
  -ms-animation: flower2 5s ease alternate infinite;
  -o-animation: flower2 5s ease alternate infinite;
  transform-origin: bottom;
  transform-box: fill-box;
}
#tree {
  animation: tree 4s ease alternate infinite;
  -webkit-animation: tree 4s ease alternate infinite;
  -moz-animation: tree 5s ease alternate infinite;
  -ms-animation: tree 5s ease alternate infinite;
  -o-animation: tree 5s ease alternate infinite;
  transform-origin: center bottom;
  transform-box: fill-box;
}
@keyframes tree {
  from {
    transform: rotateZ(-1deg);
    -webkit-transform: rotateZ(-1deg);
    -moz-transform: rotateZ(-1deg);
    -ms-transform: rotateZ(-1deg);
    -o-transform: rotateZ(-1deg);
  }
  to {
    transform: rotateZ(2deg);
    -webkit-transform: rotateZ(2deg);
    -moz-transform: rotateZ(2deg);
    -ms-transform: rotateZ(2deg);
    -o-transform: rotateZ(2deg);
  }
}
#sun {
  animation: sun ease-in-out 4s alternate infinite;
  -webkit-animation: sun ease-in-out 4s alternate infinite;
  -moz-animation: sun ease-in-out 5s alternate infinite;
  -ms-animation: sun ease-in-out 5s alternate infinite;
  -o-animation: sun ease-in-out 5s alternate infinite;
}
@keyframes sun {
  from {
    fill: rgb(255, 224, 52);
  }
  to {
    fill: rgb(255, 239, 149);
  }
}
/* ~/about svg */

/* ~@ About Us section */

/* ? Features Section*/
.features {
  margin: 6rem 0rem 6rem 0rem;
  padding: 4rem 0rem 0rem 1rem;
}
.features .row {
  display: flex;
  flex-direction: row;
  width: 95%;
  margin: auto;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
}

.features .row h3 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: calc(1rem + 0.8vw);
  text-shadow: none !important;
}
.features .row p {
  font-size: calc(1rem + 0.6vw);
}
.features .row img {
  width: 10rem;
  align-self: center;
}
.features .row span {
  justify-self: flex-start !important;
}

.features .row .col-left {
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
  text-align: center;
}
.features .row .col-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 30%;
  text-align: center;
}
.features .row .col-right {
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
  text-align: center;
}

.feature-Btn {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
/* ~? Features Section */
/* *Option Section */
.option {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.option .row {
  width: 90%;
  padding: 2rem 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.option .row .col-left {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.option .row .col-left .dollar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 8vw;
  width: 100%;
  height: 60px;
}
.option .row .col-left svg {
  width: 100%;
}
.option .row .col-right {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.option .row .col-right p {
  max-width: 100%;
}
.option .row .col-right .shapes-text-end {
  align-self: flex-end;
}
.option .row .col-right .common-button {
  margin: 3rem 0;
}
/* !Dollar animation */
.dollar-cube {
  position: relative;
  width: 66px;
  height: 30px;
  transform-style: preserve-3d;
  animation: turn 5s linear infinite;
  -webkit-animation: turn 5s linear infinite;
}

.dollar-face {
  width: 66px;
  height: 30px;
  background: url(img/Dollar.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  font-size: 2rem;
}
.side-face {
  width: 16px;
  height: 30px;
  background: url(img/dLine.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  font-size: 2rem;
}
.dollar-bottom {
  width: 66px;
  height: 16px;
  background: url(img/dLine2.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  font-size: 2rem;
}
.dollar-front {
  transform: translateZ(8px);
  -webkit-transform: translateZ(8px);
  -moz-transform: translateZ(8px);
  -ms-transform: translateZ(8px);
  -o-transform: translateZ(8px);
}
.dollar-back {
  transform: translateZ(-8px) rotateY(180deg);
  -webkit-transform: translateZ(-8px) rotateY(180deg);
  -moz-transform: translateZ(-8px) rotateY(180deg);
  -ms-transform: translateZ(-8px) rotateY(180deg);
  -o-transform: translateZ(-8px) rotateY(180deg);
}

.dollar-left {
  transform: translateX(58px) rotateY(90deg);
  -webkit-transform: translateX(58px) rotateY(90deg);
  -moz-transform: translateX(58px) rotateY(90deg);
  -ms-transform: translateX(58px) rotateY(90deg);
  -o-transform: translateX(58px) rotateY(90deg);
}
.dollar-right {
  transform: translateX(-8px) rotateY(-90deg);
  -webkit-transform: translateX(-8px) rotateY(-90deg);
  -moz-transform: translateX(-8px) rotateY(-90deg);
  -ms-transform: translateX(-8px) rotateY(-90deg);
  -o-transform: translateX(-8px) rotateY(-90deg);
}

.dollar-bottom {
  transform: translateY(22px) rotateX(-90deg);
  -webkit-transform: translateY(22px) rotateX(-90deg);
  -moz-transform: translateY(22px) rotateX(-90deg);
  -ms-transform: translateY(22px) rotateX(-90deg);
  -o-transform: translateY(22px) rotateX(-90deg);
}

@keyframes turn {
  from {
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
  }
}
/* ~!Dollar animation */

/* ~*Option Section */

/* !Offer Section */
#offer {
  width: 95% !important;
}
#middleOption:hover {
  animation: option 5s ease-in-out infinite;
  -webkit-animation: option 5s ease-in-out infinite;
  -moz-animation: option 5s ease-in-out infinite;
  -ms-animation: option 5s ease-in-out infinite;
  -o-animation: option 5s ease-in-out infinite;
  transform-origin: center;
  transform-box: fill-box;
}
#leftOption:hover {
  animation: option 5s ease-in-out infinite alternate-reverse;
  -webkit-animation: option 5s ease-in-out infinite alternate-reverse;
  -moz-animation: option 5s ease-in-out infinite alternate-reverse;
  -ms-animation: option 5s ease-in-out infinite alternate-reverse;
  -o-animation: option 5s ease-in-out infinite alternate-reverse;
  transform-origin: center;
  transform-box: fill-box;
}
#rightOption:hover {
  animation: option 5s ease-in-out infinite;
  -webkit-animation: option 5s ease-in-out infinite;
  -moz-animation: option 5s ease-in-out infinite;
  -ms-animation: option 5s ease-in-out infinite;
  -o-animation: option 5s ease-in-out infinite;
  transform-origin: center;
  transform-box: fill-box;
}
@keyframes option {
  0% {
    transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
  }
  10% {
    transform: rotateZ(45deg);
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
  }
  40% {
    transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
  }
  60% {
    transform: rotateZ(360deg);
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
  }
  90% {
    transform: rotateZ(-45deg);
    -webkit-transform: rotateZ(-45deg);
    -moz-transform: rotateZ(-45deg);
    -ms-transform: rotateZ(-45deg);
    -o-transform: rotateZ(-45deg);
  }
  100% {
    transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
  }
}
/* ~!Offer Section */

/* //contact us */
.contact {
  display: flex;
  justify-content: center;
}
.contact .row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.contact .row .left-col,
.contact .row .right-col {
  flex-basis: 50%;
}
.contact .row .left-col svg {
  width: 100%;
}
.contact .row .right-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact .row .right-col form {
  max-width: 50rem;
  margin: 3rem 0;
}
.contact .row .right-col form input,
.contact .row .right-col form textarea {
  width: 100%;
  max-width: 100%;
  padding: 1.2rem 1rem;
  margin-bottom: 0.5rem;
  font-family: mypersianFont;
  font-size: 2rem;
  font-weight: bold;
  outline: none;
  box-shadow: none;
  border: 0.2rem solid #f67c92;
}
.contact .row .right-col form .btn-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.contact .row .right-col form .btn-box button {
  flex-basis: 48%;
}
/* ~//contact us */

/* @Footer */
#footer {
  padding: 3rem 0 2rem;
}
.footer-row hr {
  width: 100%;
  border: none;
  border-top: 0.3rem solid #f67c92;
}
.footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.footer-left-col {
  flex-basis: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.footer-logo {
  display: flex;
  text-transform: capitalize;
  align-items: flex-start;
  justify-content: flex-start;
}

.footer-logo a {
  display: flex;
  text-decoration: none;
  color: #570018;
}

.footer-logo img {
  width: 65px;
  height: 100px;
}

.footer-logo h1 {
  align-self: center;
  margin-top: 2rem;
  font-size: 3rem;
  font-family: myHeaderFont;
  color: #c3365e;
  text-shadow: 0px 5px 1rem #fcbaca;
}
.copyleft .my-small {
  direction: ltr !important;
}
.footer-right-col {
  flex-basis: 85%;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.footer-right-col h4,
.footer-right-col small {
  text-align: center;
}
.footer-right-col .footer-links:nth-child(1),
.footer-right-col .footer-links:nth-child(2),
.footer-right-col .footer-links:nth-child(4) {
  flex-basis: 27%;

  display: flex;
  flex-direction: column;
}
.footer-right-col .footer-links:nth-child(3) {
  flex-basis: 18%;
  display: flex;
  flex-direction: column;
}
.footer-right-col .footer-links:nth-child(1) small {
  text-align: justify;
  padding-left: 2rem;
}
.footer-right-col .footer-links:nth-child(2) small {
  text-align: justify;
}
.footer-right-col .footer-links:nth-child(4) small {
  text-align: justify;
}
.footer-right-col .footer-links:nth-child(4) .git {
  direction: ltr !important;
  text-align: start;
}
.footer-right-col .footer-links:nth-child(4) .git img {
  width: 6rem;
  align-self: center;
}
.footer-right-col .footer-links:nth-child(4) .git img:hover {
  animation: devmatt 1s ease-in 1 alternate;
  -webkit-animation: devmatt 1s ease-in 2 alternate;
  -moz-animation: devmatt 1s ease-in 2 alternate;
  -ms-animation: devmatt 1s ease-in 2 alternate;
  -o-animation: devmatt 1s ease-in 2 alternate;
}
.footer-links small a {
  text-decoration: none;
  color: rgb(61, 61, 61);
}
.footer-links small a:hover {
  color: #f84162;
  text-shadow: 0.2rem 0.2rem 1rem #ffffff;
}
/* ~@Footer */

/* !copyleft */
.copyleft {
  direction: rtl;
  padding: 0rem 0rem 3rem;
}
/* ~!copyleft */

/* ? Social Media */
.social-text {
  display: none;
}
.social-icons {
  position: fixed;
  top: 50%;
  left: 1rem;
  z-index: 2;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.social-icons ul {
  list-style: none;
}

.social-icons ul li img {
  width: 3rem;
  margin: 1rem 0rem;
  transition: width 0.5s ease;
  -webkit-transition: width 0.5s ease;
  -moz-transition: width 0.5s ease;
  -ms-transition: width 0.5s ease;
  -o-transition: width 0.5s ease;
}
.social-icons ul li img:hover {
  width: 5rem;
}
/* ~? Social Media */

/* @ Media Query */
@media only screen and (max-width: 770px) {
  /* // Public Class */
  .square-shape {
    width: 1rem;
    height: 1rem;
  }
  .common-button {
    padding: 1rem 2rem;
    box-shadow: 0rem 0.1rem 0.8rem #f67c92;
  }
  .my-h2 {
    font-size: calc(2rem + 0.8vw);
    margin-bottom: 0.5rem;
  }
  /* ~// Public Class */
  .logo img {
    width: 45px;
    height: 70px;
    margin-left: 2rem;
    margin-top: 1rem;
  }

  .logo h1 {
    margin-top: 2rem;
    font-size: 2rem;
  }

  .header-section .row .right-col {
    order: 1;
    margin: 4rem 0rem 1rem 0rem;
    padding: 1rem;
    flex-basis: 100%;
  }
  .shapes-text-end {
    line-height: 0.1rem;
  }
  .line-1 {
    display: inline-block;
    width: 1.1rem;
    height: 1.1rem;
    margin: 0.1rem 0rem;
  }
  .line-2 {
    display: inline-block;
    width: 4rem;
  }
  .line-3 {
    display: inline-block;
    width: 2rem;
  }
  .header-section .row .left-col {
    flex-basis: 100%;
    order: 2;
  }
  .header-section .row .left-col svg {
    width: 100%;
    height: unset;
  }
  #sideNave {
    width: 20rem;
    right: -20rem;
  }
  #sideNave ul li {
    margin: 4rem 2rem;
  }
  #sideNave ul li a {
    font-size: calc(1rem + 0.9vw);
  }
  #menuBtn {
    width: calc(2.5rem + 1vw);
    right: 2rem;
    top: 3rem;
  }
  .about .row,
  .offer .row {
    padding: 1rem 0;
  }
  .about .right-col,
  .offer .right-col {
    flex-basis: 100%;
  }
  .about .right-col svg,
  .offer .right-col svg {
    width: 100%;
    height: 85%;
  }
  .about .left-col,
  .offer .left-col {
    flex-basis: 100%;
    padding: 1rem;
  }
  .features {
    padding: 0rem;
  }
  .features .row {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 1rem;
    justify-content: center;
    align-items: center;
  }

  .features .row .col-left {
    flex-basis: 100%;
    order: 3;
  }
  .features .row .col-middle {
    flex-basis: 100%;
    order: 2;
  }
  .features .row .col-right {
    flex-basis: 100%;
    order: 1;
  }
  .features .row h3 {
    margin-bottom: 1rem;
    font-size: 2rem;
  }
  .features .row p {
    font-size: calc(1rem + 1vw);
  }
  .features .row img {
    width: 15rem;
  }
  .feature-Btn {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  .option .row {
    width: 100%;
    padding: 1rem 0;
  }
  .option .row .col-left {
    flex-basis: 100%;
    justify-content: center;
  }
  .option .row .col-left .dollar {
    display: none;
  }
  .option .row .col-left svg {
    width: 80%;
    height: 85%;
  }
  .option .row .col-right {
    flex-basis: 100%;
    margin: 2rem 0rem;
  }
  .option .row .col-right .common-button {
    margin: 1rem 0;
  }
  #offer {
    width: 100% !important;
  }
  .contact .row .left-col {
    flex-basis: 100%;
    order: 2;
  }
  .contact .row .right-col {
    flex-basis: 100%;
    margin-top: 3rem;
  }
  .contact .row .left-col svg {
    width: 100%;
    height: 85%;
  }
  .contact .row .right-col form {
    width: 90%;
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
  }
  .contact .row .right-col form input,
  .contact .row .right-col form textarea {
    font-size: 1.6rem;
  }
  .footer-left-col {
    flex-basis: 100%;
    order: 2;
  }
  .footer-right-col {
    flex-basis: 100% !important;
  }
  .footer-right-col .footer-links:nth-child(n) {
    flex-basis: 100%;
    align-items: center;
    margin-bottom: 2rem;
  }
  .social-icons {
    display: none;
  }
}
@media only screen and (max-width: 1000px) and (min-width: 771px) {
  .option .row .col-left .dollar {
    display: none;
  }
  .footer-row {
    justify-content: center;
  }
  .footer-left-col {
    flex-basis: 100%;
    order: 2;
  }
}
@media only screen and (max-width: 1200px) and (min-width: 1001px) {
  .option .row .col-left .dollar {
    align-items: flex-end;
    padding-right: calc(2rem + 4vw);
  }
  .footer-row {
    justify-content: center;
  }
  .footer-left-col {
    flex-basis: 100%;
    order: 2;
  }
}
@media only screen and (max-width: 1400px) and (min-width: 1201px) {
  .option .row .col-left .dollar {
    align-items: center;
    padding-right: calc(2rem + 4.5vw);
  }
  .footer-row {
    justify-content: center;
  }
  .footer-left-col {
    flex-basis: 100%;
    order: 2;
  }
}
/* ~@ Media Query */
